@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 8%;
    --primary: 24.6 95% 53.1%;
  }

  .dark {
    --background: 0, 0%, 8%;
    --foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
  }
}
